<header>
        <ul class="enlaces">
            <li class="enlaces">
                <a href="/dashboard">
                    <span>VER</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="/dashboard/consultar">
                    <span>CONSULTAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="/dashboard/crear">
                    <span>CREAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="/dashboard/modificar">
                    <span>MODIFICAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="/dashboard/eliminar">
                    <span>BORRAR</span>
                </a>
            </li>

            <li class="enlaces">
                <button class="descargar-excel">Descargar Excel</button>
            </li>
        </ul>
        <form id="form-logout" method="POST" action="/login/destroy">
            <input type="submit" value="Cerrar sesion">
        </form>
    </header>