:root {
    --color-primario: #0d0d0d;
    --color-secundario: #1a1a1a;
    --color-acento: #e63946;
    --color-texto: #f1f1f1;
    --font-principal: 'Arial', sans-serif;
    --border-radius: 8px;  /* también podés guardar otras cosas, no solo colores */
}

body {
    background-color: var(--color-primario);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    background-color: var(--color-secundario);
    border-radius: 9px;
}

nav {
    color: var(--color-texto);
    font-size: large;
    font-family: var(--font-principal);
}

#icono {
    width: 50px;
    height: 50px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.bienvenida {
    text-align: center;
    color: var(--color-texto);
    font-family: var(--font-principal);
}

.cards-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--color-texto);
    font-family: var(--font-principal);
    border: 2px solid var(--color-acento);
    border-radius: 10px;
    padding: 20px;
    background-color: #1a1a1a;
}

.card-producto p {
    color: var(--color-acento);
}

.card-producto img {
    width: 180px;
}

.card-producto button {
    background-color: var(--color-acento);
    color: var(--color-texto);
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: var(--font-principal);
    font-weight: bold;
    transition: 0.2s;
}

.card-producto button:hover{
    background-color: transparent;
    border-color: var(--color-acento);
    color: var(--color-acento);
}

footer {
    background-color: var(--color-secundario);
    margin-top: 20px;
    padding: 0 40px;
}

footer h2 {
    text-align: center;
    color: var(--color-texto);
}

.botones-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vaciar-carrito {
    background-color: var(--color-acento);
    color: var(--color-texto);
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: var(--font-principal);
    font-weight: bold;
    transition: 0.2s;
}

.vaciar-carrito:hover{
    background-color: transparent;
    border-color: var(--color-acento);
    color: var(--color-acento);
}

.imprimir-ticket {
    background-color: var(--color-acento);
    color: var(--color-texto);
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: var(--font-principal);
    font-weight: bold;
    transition: 0.2s;
}

.imprimir-ticket:hover{
    background-color: transparent;
    border-color: var(--color-acento);
    color: var(--color-acento);
}