<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <ul class="enlaces">
            <li class="enlaces">
                <a href="index.html">
                    <span>VER</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="get.html">
                    <span>CONSULTAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="post.html">
                    <span>CREAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="put.html">
                    <span>MODIFICAR</span>
                </a>
            </li>

            <li class="enlaces">
                <a href="delete.html">
                    <span>BORRAR</span>
                </a>
            </li>
        </ul>
    </header>

    <main>
        <section class="form-productos">
            <h2>Consultar productos por id: </h2>

            <form id="getProduct-form">
                <label for="idProd">Id del producto: </label>
                <input type="number" name="idProd" id="idProd" required>

                <input type="submit" value="Consultar producto">
            </form>
        </section>

        <section>
            <hr>
            <div id="contenedor-productos">
                
                <!-- <div class="card-producto">
                    <img src="assets/j52291000003001-01-600x600-0e25ead14229b1304117063048042015-640-0.jpg" alt="">
                    <h4>Guitarra Electroacustica</h4>
                    <p>Id: 1</p>
                    <p>$20000</p>
                </div> -->

            </div>

        </section>
    </main>

    <script>
        const contenedorProductos = document.getElementById("contenedor-productos");
        const getProductForm = document.getElementById("getProduct-form");
        const urlBase = "http://localhost:3000/api/products";


        getProductForm.addEventListener("submit", async event => {
            event.preventDefault();

            // Opt 1: Para extraer solamente un valor, como el id en nuestro miniformulario, podemos saltarnos el FormData + Object.fromEntries

            const idProd = event.target.idProd.value.trim();

            // Opt 2: Nos aseguramos de que se haya enviado un id valido
            if (!idProd) {
                mostrarError("Ingrese un id valido");
                return;
            }

            /*
            // Creo un objeto nativo del formData a partir del formulario del evento
            const formData = new FormData(event.target);

            console.log(formData);

            // Transformo mi objeto nativo FormData en un objeto normal de JS
            const data = Object.fromEntries(formData.entries());

            const idProd = data.idProd;
            */

            try {
                // Opt 3: Guardamos en una variable la URL para no hardcodearla aca
                const response = await fetch(`${urlBase}/${idProd}`);

                const data = await response.json();

                //Opt 4: Mostramos por pantalla el error que nos devuelve el servidor
                if (!response.ok) { 
                    mostrarError(data.message);
                    return;
                }

                console.log(data.payload[0]);

                const producto = data.payload[0];

                const htmlProducto = `
                    <ul>
                        <li class="lista-producto">
                            <img src="${producto.imagen}" alt="${producto.nombre}">
                            <p>Id: ${producto.id} / Nombre: ${producto.nombre} / <strong>Precio: $${producto.precio}</p>
                        </li>
                    </ul>
                `;

                contenedorProductos.innerHTML = htmlProducto;

            } catch (error) {
                console.error(`Error al obtener productos: ${error}`);

                // Opt 5: Mostramos error de red (en el try...catch de fetch no capturamos error 400 o 500)
                mostrarError("Error de conexion con el servidor");
            }
        });

        function mostrarError(mensaje) {
            contenedorProductos.innerHTML = `
                <p class="mensaje mensaje_error">${mensaje}</p>
            `;
        }

    </script>

</body>
</html>