ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a2e;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    height: 80px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

header, .enlaces {
    display: flex;
    justify-content: space-between;
}

.enlaces {
    width: 100%;
    margin-bottom: 0;
    align-items: center;
}

header a {
    color: #e05c5c;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

header a:hover {
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #16213e;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 170px;
}

.card-producto.inactivo {
    border: 1px solid red;
}

img {
    width: 500px;
}

.card-producto img {
    width: 70px;
}

.form-alta {
    display: flex;
    flex-direction: column;
}

.descargar-excel {
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#logout{
    background: none;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;

    color: #e05c5c;
    text-decoration: none;
    font-size: 14px;
}

#logout:hover {
    color: white;
}

#loginForm{
    max-width: 800px;
    margin: 0 auto
}
